<h1><%= @cocktail.name %></h1>

<% if @cocktail.photo.presence %>
<%= image_tag @cocktail.photo.url, height: 300, width: 400, crop: :fill %>
<% else %>
<%= image_tag 'card.jpg', height: 300, width: 400, crop: :fill %>
<% end %>

<br>
<br>
<button type="button" class="btn btn-primary btn-sm">
  <%= link_to "Edit cocktail", edit_cocktail_path(@cocktail) %>
</button>

<button type="button" class="btn btn-danger btn-sm">
  <%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" } %>
</button>

<br>
<br>

<h3>Recipe</h3>

<% @cocktail.doses.each do |dose| %>
<p><%= dose.description %> of <%= dose.ingredient.name %> --
  <button type="button" class="btn btn-danger btn-sm">
    <%= link_to "Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" } %>
  </button>
</p>
<% end %>

<h3>Reviews</h3>

<% @cocktail.reviews.each do |review| %>
  <p><%= review.content %></p>
<% end %>

<br>

<%= render 'review_form' %>

<br>
<%= link_to "New dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>

<br>
<br>
<%= link_to "Back to cocktails", cocktails_path, class: "btn btn-primary" %>

